body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #add8e6;
}

#head{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    background-color: #fefab1;
    border: 1px solid #ffd532;

}

#kitchen-button{
    text-decoration: none;
    background-color: aliceblue;
    border-color: darkblue;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

#frontend-button{
    text-decoration: none;
    background-color: aliceblue;
    border-color: darkblue;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

#orders{
    background-color: white;
    min-height: 75%;
    width: 50%;
    margin-left: 5%;
    display: inline-block;
}

#meals{
    background-color: white;
    min-height: 75%;
    width: 50%;
    margin-left: 5%;
    display: inline-block;
}