<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>DBytes</title>
        {% load static %}
        <link rel="stylesheet" href=" {% static '/css/style.css' %}">
    </head>

    <body>

        <header>
            <h1 id="head">DBytes</h1>
        </header>

        <div class="navbar">
            <div class="nav-content active"><a href="/">FrontEnd</a></div>
            <div class="nav-content"><a href="/kitchen">Kitchen</a></div>
        </div>

        <main>

            <form class="mainbody" method="post" action="#">
              {% csrf_token %}
                <label for="cust-name">Customer:</label>
                <input type="text" id="cust-name" name="cust-name">
                        
                <label for="server-name">Server Name:</label>
                <select id="server-name" name="server-name">
                  {% for employee in employees %}
                  <option value="{{employee}}" SELECTED>{{employee}}</option>
                  {% endfor %}     
                </select>
                        
                <label for="meal">Meal:</label>
                <select id="meal" name="meal">
                  {% for meal in meals %}
                  <option value="{{meal}}" SELECTED>{{meal}} ({{meal.price}})</option>
                  {% endfor %}     
                </select>
                        
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes" rows="3"></textarea>
                
                <br>
                <br>
                <button id="submit" name="submit">Submit Order</button>
            </form>

        </main>

        <!-- <script>

            const submitBtn = document.querySelector('#submit');

            submitBtn.addEventListener('click', function() {
                const custInput = document.querySelector('#cust-name').value;
                const serverInput = document.querySelector('#server-name').value;
                const orderInput = document.querySelector('#order').value;
                const noteInput = document.querySelector('#notes').value;


                localStorage.setItem('cust-name', custInput);
                localStorage.setItem('server-name', serverInput);
                localStorage.setItem('order', orderInput);
                localStorage.setItem('notes', noteInput);

                const test = localStorage.getItem('cust-name');
                const test2 = localStorage.getItem('server-name');
                console.log(test);
                console.log(test2);

                window.location.href = './kitchen.html';
            });

        </script>  -->

    </body>
    
</html>
